:root {
    --bg-color: #2C2C2E;
    --accent-color: #169e74;
    --text-color: #F1F1F1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: "VT323", monospace;
    font-size: x-large;
    line-height: 1.3;
    color: var(--text-color);
    margin-top: 5%;
}

.container {
    width: 55%;
    margin: 50px auto;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.history {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h1 {
    font-size: xxx-large;
}

button {
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--accent-color);
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: "VT323", monospace;
    font-size: x-large;
    border: none;
    border-radius: 2rem;
    margin-right: 0.6em;
}

button:hover {
    background-color: var(--bg-color);
    border: solid 1px var(--accent-color);
    color: var(--accent-color);
}

.buttons {
    display: flex;
    flex-direction: row;
}

input {
    padding: 0.1em;
    font-family: "VT323", monospace;
    font-size: x-large;
    width: 100%;
    margin-bottom: 1em;
}

a, a:visited {
    color: var(--text-color);
    text-decoration: underline;
}

a:hover {
    color: var(--accent-color);
}